Robinia/Build/dev-temp-build/**
Robinia/Build/publishbin/**
Robinia/Robinia.Web/wwwroot/lib/**
**/robinia-infrastructure-files/**
Robinia/Robinia.Web/external-dependencies/**
Robinia/Robinia.Web/wwwroot/other/sitemaps/**
!robinia-external-dependencies/wwwroot_lib.zip
Robinia/Build/backups/**
**/.vs/**
**/robinia-info/**
**/dotnet-assemblies/**
**/sqlite-db/**
**/sqlite-db-backup/**
**//**
**/bin/**
**/obj/**
**/Release/**
**/Debug/**
